﻿@page
@model LearnC.Pages.LearnAdmin.CreateModel

@{
    ViewData["Title"] = "เพิ่มหมวดหมู่ภาษา";
}

<h2>เพิ่มหมวดหมู่ภาษา</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ภาษา
                <input asp-for="Learn.ShortName" class="form-control" />
                <span asp-validation-for="Learn.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                คำอธิบายเพิ่มเติม
                <input asp-for="Learn.FullName" class="form-control" />
                <span asp-validation-for="Learn.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="เพิ่ม" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
