﻿@page
@model LearnC.Pages.LearnAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบหมวดหมู่ภาษา";
}

<h2>ลบหมวดหมู่ภาษา</h2>

<h3>คุณแน่ใจที่จะลบหมวดหมู่นี้หรือไม่ ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ภาษา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Learn.ShortName)
        </dd>
        <dt>
            คำอธิบายเพิ่มเติม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Learn.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Learn.LearnID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
