﻿@page
@model LearnC.Pages.LearnAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ภาษา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Learn.ShortName)
        </dd>
        <dt>
            คำอธิบายเพิ่มเติม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Learn.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Learn.LearnID">แก้ไข</a> |
    <a asp-page="./Index">ย้อนกลับ</a>
</div>
