﻿@page
@model LearnC.Pages.LearnAdmin.IndexModel

@{
    ViewData["Title"] = "หมวดหมู่ภาษา";
}

<h2>หมวดหมู่ภาษา</h2>

<p>
    <a asp-page="Create">เพิ่มหมวดหมู่ภาษา</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ภาษา
            </th>
            <th>
              คำอธิบายเพิ่มเติม
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Learn) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LearnID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.LearnID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.LearnID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
