﻿@page
@model ContactModel
@{
    ViewData["Title"] = "ติดต่อเราได้ที่";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>E-Mail:</strong> <a href="mailto:6110210017@psu.ac.th">6110210017@psu.ac.th</a><br />
    <strong>FB:</strong> <a href="https://web.facebook.com/mcz2zn">Kasidis Sangsuwan</a><br /><br />
    <strong>E-Mail:</strong> <a href="mailto:6110210447@psu.ac.th">6110210447@psu.ac.th</a><br />
    <strong>FB:</strong> <a href="https://web.facebook.com/IICE.BS">Suebpong Sittichotiphong</a>
</address>
