﻿@page
@model LearnC.Pages.LearnCAdmin.CreateModel

@{
    ViewData["Title"] = "เพิ่มบทเรียน";
}

<h2>เพิ่มบทเรียน</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ภาษา
                <select asp-for="News.LearnID" class ="form-control" asp-items="ViewBag.LearnID"></select>
            </div>
            <div class="form-group">
                วันที่อัพเดท
                <input asp-for="News.ReportDate" class="form-control" />
                <span asp-validation-for="News.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                บทที่
                <input asp-for="News.NewsDetail" class="form-control" />
                <span asp-validation-for="News.NewsDetail" class="text-danger"></span>
            </div>
	    <div class="form-group">
                ชื่อบท
                <input asp-for="News.Heading" class="form-control" />
                <span asp-validation-for="News.Heading" class="text-danger"></span>
            </div>
            <div class="form-group">
                ไฟล์
                <input asp-for="News.FileWork" class="form-control" />
                <span asp-validation-for="News.FileWork" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="เพิ่ม" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
