﻿@page
@model LearnC.Pages.LearnCAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบบทเรียน";
}

<h2>ลบบทเรียน</h2>

<h3>คุณแน่ใจที่จะลบบทเรียนหรือไม่ ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ภาษา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.learn.LearnID)
        </dd>
        <dt>
            วันที่อัพเดท
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            บทที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
	<dt>
            ชื่อบท
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.Heading)
        </dd>
        <dt>
            ไฟล์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.FileWork)
        </dd>
        
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="News.NewsID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
