@page
@model LearnC.Pages.LearnCAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดบทเรียน";
}

<h2>รายละเอียดบทเรียน</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ภาษา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.learn.LearnID)
        </dd>
        <dt>
           วันที่อัพเดท
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            บทที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
	<dt>
            ชื่อบท
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.Heading)
        </dd>
        <dt>
            ไฟล์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.FileWork)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">แก้ไข</a> |
    <a asp-page="./Index">ย้อนกลับ</a>
</div>
