﻿@page
@model LearnC.Pages.LearnCAdmin.IndexModel

@{
    ViewData["Title"] = "บทเรียนภาษา";
}

<h2>บทเรียนภาษา</h2>

<p>
    <a asp-page="Create">เพิ่มบทเรียน</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ภาษา
            </th>
            <th>
            วันที่อัพเดที่
            </th>
            <th>
                บทที่
            </th>
	    <th>
                ชื่อบท
            </th>
            <th>
               ไฟล์
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.learn.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDetail)
            </td>
	    <td>
                @Html.DisplayFor(modelItem => item.Heading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileWork)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
